*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}

html {
  height: 100%;
}

/* h1 {
  font-size: 2rem;

} */



/* body, html {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('../public/HelveticaNeueLight.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../public/HelveticaNeue-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Poynter';
  src: url('../public/poynter.ttf') format('truetype');
}

:root {
  --secondary-color: #3498db;
  --primary-color: #3aa8f1;
  --background-color: #e3e3e3;
  /* --background-color: #c9cdd0; */
  --card-color: #696969;
  --accent-color: #c7c7c7;
  --font-color: #2e2e2e;
  --font-family: 'Helvetica Neue Light', sans-serif;
  --header-font: 'Poynter', serif;
  --textalign: center;
}

section:not(.banner) {
  max-width: 80vw;
  margin: auto;
}

input {
  font-family: var(--font-family);
}

.button {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--font-color);
  font-size: 1em;
  border: none;
  padding: .5em 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: 200ms;
  border: 1px solid var(--accent-color);
  text-decoration: none;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: var(--accent-color);
  transition: 200ms;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.button p {
  color: var(--background-color);
}

a {
  color: var(--font-color);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

body {
  font-family: var(--font-family);
  /* font-family: Arial, Helvetica, sans-serif; */
  color: var(--font-color);
  background-color: var(--background-color);
  /* padding-bottom: 4em; */
  /* font-size: 1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-family: var(--header-font);
  /* text-transform: uppercase; */
}

h3 {
  font-family:  var(--header-font);
}

h4 {
  font-family:  var(--font-family);
  
}

#burgermenu {
  display: flex;
  background-color: var(--background-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .5s ease;
  pointer-events: none;
}

#burgermenu > a {
  margin: 2rem;
}

#burgermenu > a.selected {
  font-weight: bold;
}

.burgeropen:not(header) {
  display: none !important;
}


#burgermenu.open {
  opacity: 1;
  pointer-events: all;
}

h1 {
  margin: 0;
  /* font-family: 'Helvetica Neue'; */
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: var(--background-color);
  /* max-width: 80vw; */
  position: fixed;
  top: 0;
  left: 0;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  */
  /* backdrop-filter: blur(10px);  */
  z-index: 99;
  width: 100%;
  font-size: .8em;
  justify-content: space-evenly;

}

nav a:not(.navtitle) {
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  padding: 1em;
  /* flex-grow: 1; */
  transition: 200ms;
  border: 0px solid var(--accent-color);

}

nav a:hover:not(.navtitle) {
  transition: 200ms;
  background-color: var(--background-color);
  /* border: 2px solid var(--accent-color); */
  border-bottom: 4px solid var(--card-color);


}

.navtitle {
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  padding: 1em;
  font-family: var(--header-font);
  text-transform: uppercase;
  text-wrap: nowrap;
  /* padding-left: 4em; */
}

#navlinks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: max-content;
  padding-right: 4em;

}

nav .selected {
  border-bottom: 4px solid var(--card-color) !important;
}

.banner.services {
  background-image: url(../public/servicesbanner.jpeg);
  height: fit-content;
  padding: 3rem 3rem 0;
  display: flex;
  align-items: flex-start;
  height: 40vh;
  width: 100%;
}

#servicesblurb {
  padding: 2rem;
  max-width: 100%;
  line-height: 1.5;
  text-align: var(--textalign);

}

#servicesblurb h2 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

.banner {
  /* margin-top: 3em; */
  background-image: url(../public/bg1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

#bannervert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  flex-grow: 1;
  justify-content: space-around;

}

#bannervert img {
  max-width: 40%;
  height: auto;

}

#bannerhor {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.ausoo {
  max-width: 6% !important;
  margin-left: 2%;
}

#bannerhor img {
  max-width: 10%;
  height: auto;
}



#logosvert {
  display: flex;
  flex-direction: column-reverse;
  padding: 1rem;
}



footer {
  /* position: fixed; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em 0 2em 0;
  bottom: 0;
  left: 0;
  background-color: var(--background-color);
}

.ourinfo {
  display: flex;
  align-items: center;
}

.ourinfo i:not(.fab) {
  padding-right: .5rem;
}

/* HOME */

/* #banner {
  background-image: url(../public/banner1.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner img {
  max-width: 30%;
  max-height: 30%;
  padding: 2em;
} */

#serviceshome {
  padding: 1em;
}

#serviceshome h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: var(--textalign);

}

#serviceshome ul {
  padding-left: 1em;
  list-style-type: none;
}

#serviceshome li {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 0.5em;
}

#servgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#featured-projects {
  padding: 1em;
  margin-bottom: 2em; 
  margin-top: 2em;
}

#featured-projects h2 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: var(--textalign);
}

#featured-projects .project {
  margin-bottom: 2em;
}

#featured-projects .projcontainer {
  position: relative;
  padding: 1em 0 1em 0;
  background-color: var(--background-color);
}

/* #featured-projects .projcontainer::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, var(--accent-color), white);
} */

#featured-projects .projparagraphs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 1em;
  max-width: 80%;
  line-height: 1.5;
}

#featured-projects .project h3 {
  font-size: .8rem;
  text-align: center;
  /* border-bottom: 1px solid var(--accent-color); */
}

.projgridhor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  /* padding-left: 1em; */
  align-items: start;
  /* grid-gap: 1em; */

}

.projflexhor {
  display: flex;
  flex-direction: row;
  /* padding-bottom: 10%; */

}

.projflexhor img {
  width: 50%;
  height: auto;
  object-fit: cover;
  /* padding: 0 1em 0 0; */


}

.inthero1 {
  padding-right: 1em;
  flex-shrink: 0;
}


.qbngrid {
  /* margin-bottom: -6em; */
}

.qbntop {
  /* transform: translate(0, -6em); */
}

.patiohero1 {
  padding-right: 1em;
}

.projgridvert {
  display: flex;
  flex-direction: column;
  height: 100%;

}

.top {
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 3em 3em 1em;
  z-index: 98;
  margin: 0 2em 0 2em;
  /* margin-bottom: -10%; */
  line-height: 1.5;
  font-size: .9em;
}

.bhhero1 {
  margin-top: -10%;
  padding-right: 1em;
}

/* .top h3, .bottom h3 {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid var(--accent-color);
} */

.top.proj2 {
  position: absolute;
  bottom: 0;
  max-width: 70%;
  margin-left: 1rem;
}

.bottom {
  position: relative;
  z-index: 2;
  background-color: white;
  padding: 3em 3em 1em;
  z-index: 98;
  margin: -20% 2em 0 2em;
  line-height: 1.5;
  font-size: .9em;
}

.projlink {
  padding-top: .5em;
  display: flex;
  flex-direction: row-reverse;
}

.projlink a {
  font-size: 2.5em;
  text-decoration: none;
}

#featured-projects .projgridhor img {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* padding: 0 1em 0 0; */

}

.image-container {
  position: relative;
  line-height: 1.5em;
  /* padding-right: 1em; */
}

.bhcrop1 {
  margin-bottom: -50%;
}

.bhcrop1 > img {
  /* transform: translate(0, -60%); */
  /* padding-right: 1em; */

}

/* .bhbtm1 {
  transform: translate(0, -60%);
} */

.image-container img {
  width: 100%;
  transition: 0.5s ease;
  display: flex;
}

/* .image-container:hover img {
  filter: brightness(50%);

} */

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 99%; */
  color: black;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: 0.5s ease;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 1em;
  padding-right: 2em;
  box-sizing: border-box;
}

/* .image-container:hover .overlay-text {
  opacity: 1;
} */

/* ABOUT */

#about {
  margin-top: 6em;
}

#about h2, #about h3 {
  text-align: var(--textalign);
}

#about img {
  padding-left: 1em;
  max-width: 35%;
}

#about p {
  padding-left: 1em;
  max-width: 35%;
  /* padding-right: 6em; */
  line-height: 1.5;
}

#about .aboutitems {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* CONTACT */

#contact {
  margin: 5em auto 4em;
}

#contact h2 {
  /* padding-left: 1rem; */
  text-align: var(--textalign);
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#messagestatus p {
  padding: 0;
}

#contactblurb {
  padding: 1em 0 1em 1em;
  max-width: 60vw;
  line-height: 1.5;
  text-align: var(--textalign);
  margin-top: 2em;
  margin-bottom: 2em;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  gap: 1rem;
  margin-bottom: 2rem;
  text-decoration: underline;
}

.links > * {
  width: 50%;
}

.links > :first-child {
  text-align: right;
}

#contactlayout {
  padding: 1em 2em;
  width: 100%;
  /* background-color: var(--accent-color); */
}

#contactform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

#contactform label {
  padding-bottom: .5em;
}

#contactform textarea {
  width: 100%;
  height: 9em;
  line-height: 1.5;
  padding: .5em;
  border: 1px solid #c7c7c7;
  font-family: var(--font-family);
  margin-bottom: 1em;
  background-color: var(--background-color);

}


#formhor {
  display: flex;
  justify-content: space-around;
  padding-bottom: .5em;
}

#formhor div {
  width: 100%;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
}

#formhor div:last-child {
  padding-right: 0;
}

#formhor input {
  width: 100%;
  line-height: 1.5;
  height: 2em;
  padding: .5em;
  background-color: var(--background-color);
  border: 1px solid #c7c7c7;
}

#formvert {
  display: flex;
  flex-direction: column;
}

#formvert .button {
  width: 25%;
  border: 1px solid #c7c7c7;
  background-color: var(--background-color);
  color: black;
  /* margin-left: auto; */
}

#status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SERVICES */

#services {
  max-width: 100%;

}

#services p {
  padding: 1em;
  text-align: var(--textalign);
  max-width: 80vw;
  line-height: 1.5;
}

#services h2 {
  font-size: 1.5em;
  text-align: var(--textalign);
}

.service-grid {
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: dense;
  gap: 1em; */
  /* column-count: 2;
  column-gap: 3em; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.service {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  background: white; */
  display: inline-block;
  max-width: 30%;
  /* background: white; */
  break-inside: avoid;
  margin-bottom: 3em;
  flex-grow: 1;
}

.service h3 {
  padding: 1rem;
  text-align: var(--textalign);
  font-family: var(--header-font);
  width: 100%;
}

.service img {
  width: 100%; /* Set the width to fill the container */
  padding: 0 1rem;
  height: 20rem; /* Set a fixed height */
  object-fit: cover; /* Scale the image to cover the container */
  object-position: center; /* Center the image */
}

#recommendedtrades {
  padding: 1em;
  text-align: var(--textalign);
  max-width: 80vw;
  line-height: 1.5;
}

.trades-ul {
  padding: 1em;
  list-style-type: square;
  line-height: 1.5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.trades-ul li {
  max-width: 100%;
}

/* PRODUCTS */

#products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: var(--textalign);
}

#products h2 {
  font-size: 1.5em;
  text-align: var(--textalign);
}

#products p {
  padding: 1em 0 1em 2em;
  max-width: 80vw;
  line-height: 1.5;
}

.imgpair {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 4em;

}

.pair1, .pair2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.imgpair > * {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.imgpair p {
  padding: 1em !important;
}

.imgpair img {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: .5em;
  justify-content: flex-end;
  object-fit: contain;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product img {
  max-width: 70%;
  height: auto;
  max-height: 150px;
}

.product h3 {
  font-family: var(--font-family);
  font-size: 1em;
  /* margin-bottom: .5rem; */
}

.product p {
  font-size: .8em;
}

/* burger */

.hamburger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: fixed;
  top: .6rem;
  right: 1rem;
  z-index: 99999;
  
}

.hamburger-menu div {
  width: 2rem;
  height: 0.25rem;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}

/* .hamburger-menu.active {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
} */

.hamburger-menu.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-.5rem, .5rem);
}

.hamburger-menu.active div:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active div:nth-child(3) {
  transform: rotate(45deg) translate(-.5rem, -.5rem);
}
/* projects */

#projects{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 100% !important;
  margin: 0;
  width: 100%; */
}

#projects h2 {
  font-size: 1.5em;
  text-align: var(--textalign);
  margin-bottom: 1em;
}

#projects img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 500px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  margin-bottom: 1em;
 
}

.project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.project {
  position: relative;
  width: 100%;
  height: min-content;
  overflow: hidden;
}


/* .project img {
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  display: flex;
} */

/* .project a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(235, 252, 255);
  opacity: 0;
  transition: 0.5s ease;

} */

/* .project a:hover::before {  
  transition: 0.5s ease;
  opacity: .5;

} */

.project a:hover .project-title {
  transition: 0.5s ease;
  opacity: 1;
}

#projects .project:hover a {
  color: white;
}

#projects .project:hover img {
  transform: scale(1.1);
  filter: brightness(50%);
  transition: 0.5s ease;
}

.project h3 {
  opacity: 1;
  padding-bottom: .5em;
  /* transition: opacity 0.5s ease; */
  /* position: absolute; */
  z-index: 2;
  color: black;
  text-align: var(--textalign);
  /* width: 100%; */
  /* padding: 0; */
  /* top: 0;
  left: 0; */
  text-align: left;
}

/* .project h3 {
  
  margin: 0;
} */

.project p {
/* padding: .5rem; */
font-size: .8rem;
}

/* .project:hover h3, .project:hover p {
  opacity: 1;
} */

/* project detail */

.projbanner {
  width: 100%;
  height: 50svh;
  /* background-color: #3498db; */
}



.projinfo {
  /* background-color: white; */
  margin-bottom: 1em;
  padding: 2em;
  /* margin-top: 18em; */
  padding-top: 0;
  text-align: var(--textalign);
}

.projinfo h2 {
  margin-bottom: 1em;
}

.projectdetails {
  display: flex;
  flex-direction: column;
  padding: 2em;
  /* background-color: white; */
  /* height: 100lvh; */
  /* margin-bottom: -16em;
  transform: translate(0, -8em); */
}

.projectdetails img {
  /* padding: .5em; */
  flex-shrink: 0;
}

#testimonials {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-bottom: 4em; */

}

.testimonial {
  padding: 2em;
  /* display: flex; */
  text-align: var(--textalign);
  font-size: 12.8px;
}

.heroimgs {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 1em; */
  /* height: 100%; */
  height: 100svh;
  gap: 1em;
  padding-bottom: 1em;
}

.qbnhero {
  height: 100% !important;
  padding: 0 !important;
  object-fit: cover;
}

.heroimgs > * {
  width: 50%;
  /* width: 100%; */
  object-fit: cover;
  /* background-color: black; */
  /* margin: 0 .5em 1em 0; */
  /* padding: 0 .5em 0 0; */
  /* padding: .5em; */
  
  
}



.heroimgsvert {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 1em;
  overflow: hidden;
}

.heroimgsvert img {
  width: 100%;
}

.heroimgsvert > * {
  width: 100%;
  height: 50%;
  object-fit: cover;
  /* background-color: black; */
  /* margin: 0 0 .5em .5em; */
  /* padding: 0 0 .5em .5em; */
  /* padding: .5rem; */
}

#return {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  /* padding: 1em; */

}

/* individual projects */

.beachbanner {
  /* background-image: url(../public/beachbanner.MOV); */
  background-image: url(../public/beachbanner5.jpeg);
  /* height: fit-content; */
  background-size: cover;
  background-position: bottom;
  /* background-attachment: fixed; */
  height: 60svh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  /* overflow: hidden; */
  /* margin-bottom: -50svh; */
  margin-top: 2.5em;
}

.qbnbanner {
  background-image: url(../public/qbnbanner.JPG);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: bottom;
  /* background-attachment: fixed; */
  height: 60svh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* overflow: hidden; */
  /* margin-bottom: -50svh; */
  margin-top: 2.5em;
  

}

.mndbanner {
  background-image: url(../public/mndbanner1.JPG);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: top;
  /* background-attachment: fixed; */
  height: 60svh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* overflow: hidden; */
  /* margin-bottom: -50svh; */
  margin-top: 2.5em;
  

}

.grgbanner {
  background-image: url(../public/grgbanner.JPG);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: top;
  /* background-attachment: fixed; */
  height: 40svh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* overflow: hidden; */
  /* margin-bottom: -50svh; */
  margin-top: 2.5em;
  


}

.bhebanner {
  background-image: url(../public/bhebanner1.jpeg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  /* background-attachment: fixed; */
  height: 40svh;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: space-between; */
  /* overflow: hidden; */
  /* margin-bottom: -50svh; */
  margin-top: 2.5em;
}

/* before and after */

.beforeafter {
  display: flex;
  margin-bottom: 1em;
  gap: 1em;
  overflow: hidden;
}

.beforeafter img {
  /* height: 100%; */
  width: 50%;
  object-fit: cover;
}

/* .beforeafter > :first-child {
  padding-right: .5em;
}

.beforeafter > :nth-child(2) {
  padding-left: .5em;
} */

/* pair */

.pairimgs {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;
  gap: 1em;
  overflow: hidden;
  /* height: 100svh; */
}

.mnddoorimg {
  width: 40%;
}

.pairimgs img, .pairimgs video {
  width: 50%;
  /* height: 100%; */
  object-fit: cover;
}

/* .pairimgs > :first-child {
  padding-right: .5em;
} */

/* .pairimgs > :nth-child(2) {
  padding-left: .5em;
} */


@media (max-width: 768px) {

  :root {
    --textalign: center;
  }

  h1 {
    /* font-size: 2rem; */
  }

  .navtitle {
    padding-left: 2em;
    /* width: 0; */
  }

  .banner {
    background-position: right;
  }

  nav {
    line-height: 3rem;
    align-items: center;
  }

  #navlinks {
    display: none;
  }

  .projinfo {
    padding: 1em;
  }

  .beachbanner, .projbanner {
    height: 40svh;
    background-position: center;
  }

  .projectdetails {
    padding: 0;
  }

  .projectdetails img {
    /* padding: 0; */
    padding: 0 !important;

  }
  
  #return {
    justify-content: center;
  }

  .beforeafter {
    gap: 0;
  }

  .heroimgs {
    flex-direction: column;
    height: unset;
    gap: 0;
    padding: 0;
  }

  .heroimgs > * {
    width: 100%;
    padding: 0;
    /* height: 100%; */
  }

  .pairimgs {
    flex-direction: column;
    height: unset;
    margin: 0;
    gap: 0;
  }

  .pairimgs img, .pairimgs video {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0;
  }

  .beforeafter {
    flex-direction: column;
  }

  .beforeafter img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .heroimgsvert {
    flex-direction: column;
    gap: 0;
  }

  .heroimgsvert > * {
    /* width: 100%; */
    padding: 0;
    /* height: 100%; */
  }

  .projectdetails p {
    text-align: left;
  }

  .aboutitems {
    flex-direction: column;
  }

  #about img {
    max-width: 100%;
    padding: 0;
  }

  #about p {
    max-width: 100%;
    padding: 2em;
  }

  .hamburger-menu {
    display: flex;
    top: 0;
    position: relative;

  }

  .hamburger-menu.active {
    /* position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 9999; */
  }

  /* #burgermenu .hamburger-menu {
    position: absolute;
  } */

  .top, .bottom {
    background-color: transparent;
  }

  .qbngrid {
    margin-bottom: 0;
  }

  .qbntop {
    transform: translate(0, 0);
  }

  .top.proj2 {
    transform: translate(0, 0);
    max-width: 100%;
  }

  #bannervert {
    justify-content: center;
    max-width: 100vw;
  }

  #bannervert img {
    max-width: 80vw;
  }

  #bannerhor img {
    max-width: 20%;
  }

  #logosvert {
    align-items: center;
    background-color: #ffffffab;
    flex-direction: row;
    justify-content: space-around;

  }

  .ausoo {
    max-width: 10% !important;
    margin-left: 2%;
  }

  .projgridhor {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  
  }

  .project-grid {
    grid-template-columns: repeat(1, 1fr);

  }

  .image-container {
    padding-right: 0;
  }

  .bhcrop1 {
    margin-bottom: 0;
  }
  
  .bhcrop1 > img {
    transform: translate(0, 0);

  }

  .top, .bottom {
    margin: 0;

  }

  #featured-projects {
    padding: 0;
    margin-bottom: 0;
  }

  section:not(.banner) {
    max-width: 100%;
    margin: auto;
  }

  .service {
    max-width: 100%;
  }

  .service img {
    padding: 0;
  }

  #services p {
    max-width: 100%;
    text-align: left;
  }

  #servicesblurb p {
    text-align: left;
  }

  .trades-ul {
    flex-direction: column;
  }

  .imgpair {
    flex-direction: column;

  }

  .imgpair img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0;
  }

  .pair1, .pair2 {
    width: 100%;
  }

  #products p:not(.pairimgs) {
    text-align: left;
  }

  #products p {
    padding: 1em;
    max-width: 100%;
  }

  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  footer {
    flex-direction: column;
    /* align-items: center; */
    padding: 0;
    margin-top: 1em;
    margin-bottom: 4em;
  }

  footer > * {
    padding: 2em;
  }

  #contact p {
    text-align: left;
  }

  .links {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .links > * {
    width: 100%;
    text-align: center;
  }

  .links a {
    text-align: center !important;
  }

  #contactblurb {
    max-width: 100%;
    padding: 1em;
  }

  .projflexhor {
    flex-direction: column-reverse;
  }

  .projflexhor img {
    width: 100%;
    height: auto;
    object-fit: cover;
    padding: 0;
  }

  .top.proj2 {
    position: relative;
    max-width: 100%;
  }

  .bhhero1 {
    margin-top: 0 !important;
    padding-right: 0 !important;
  }
  
}